/* Global Styles */
html, body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: rgb(55, 53, 47);
    line-height: 1.5;
    white-space: pre-wrap;
}

/* Typography */
h1, h2, h3 {
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 0.5em;
    color: rgb(55, 53, 47);
}

.page-title {
    font-size: 2.5rem;
    margin-top: 0;
    margin-bottom: 0.75em;
}

h1 {
    font-size: 1.875rem;
    margin-top: 1.875rem;
}

h2 {
    font-size: 1.5rem;
    margin-top: 1.5rem;
}

h3 {
    font-size: 1.25rem;
    margin-top: 1.25rem;
}

/* Links */
a, a:visited {
    color: inherit;
    text-decoration: underline;
}

/* Layout */
body {
    margin: 2em auto;
    max-width: 900px;
}

.column-list {
    display: flex;
    justify-content: space-between;
}

.column {
    padding: 0 1em;
}

/* Media Queries */
@media only screen and (max-width: 768px) {
    body {
        padding: 1em;
        max-width: 100%;
    }

    .column-list {
        flex-direction: column;
    }

    .column {
        padding: 0;
        margin-bottom: 1em;
    }
}

/* Images */
img {
    max-width: 100%;
    height: auto;
}

.page-cover-image {
    object-fit: cover;
    width: 100%;
    max-height: 30vh;
}

/* Tables */
table, th, td {
    border: 1px solid rgba(55, 53, 47, 0.09);
    border-collapse: collapse;
}

th, td {
    padding: 0.25em 0.5em;
    text-align: left;
}

/* Forms */
input[type="checkbox"] {
    transform: scale(1.5);
    margin-right: 0.6em;
    vertical-align: middle;
}

/* Code Blocks */
code {
    background: rgba(135, 131, 120, 0.15);
    padding: 0.2em 0.4em;
    border-radius: 3px;
    font-size: 85%;
    color: #eb5757;
}

/* Blockquotes */
blockquote {
    font-size: 1.25em;
    margin: 1em 0;
    padding-left: 1em;
    border-left: 3px solid rgb(55, 53, 47);
}

/* Footer */
footer {
    margin-top: 2em;
    padding-top: 1em;
    border-top: 1px solid rgba(55, 53, 47, 0.1);
    text-align: center;
}

footer a {
    text-decoration: none;
    color: rgb(55, 53, 47);
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}

/* Additional Styles for Specific Classes */
.callout {
    border-radius: 3px;
    padding: 1rem;
    background-color: rgba(247, 246, 243, 0.9);
}

.selected-value {
    display: inline-block;
    padding: 0 0.5em;
    background: rgba(206, 205, 202, 0.5);
    border-radius: 3px;
    margin-right: 0.5em;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    white-space: nowrap;
}

.collection-title {
    font-size: 1.25rem;
    margin-top: 1.5em;
}

/* Utility Classes */
.indented {
    padding-left: 1.5em;
}

hr {
    border: none;
    border-bottom: 1px solid rgba(55, 53, 47, 0.09);
    margin: 2em 0;
}
